body {
	font-family: sans-serif;
	height: 100vh;
	margin: 0;
	background-color:#EEEEEE ; 
	color:#EEEEEE ;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	height: 90%;
	width: 90%;
	max-height: 30rem;
	max-width: 40rem;
	background-color: #c52727;
	display: flex;
	justify-content: center;
	align-items: center;
}

#text-container {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 4rem;
	width: 18.5rem;
	font-weight: bold;
	margin: 0 0 1rem 0;
}
h1:hover {
	color: #1E1E1E;
}

nav {
	display: flex;
	width: 18.5rem;
	padding:0;
	margin: 0;
	justify-content: space-between;
}

nav > * {
	color: #EEEEEE ;
	font-size: 1.3rem;
	text-decoration: none;
}

nav > *:hover {
	color: #1E1E1E;
	text-decoration: underline;
}