body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	background-color: #4F4A4A;
}
.grid-container {
	display: grid;
}
header {
	margin: 0px;
	display: flex;
	background-color: #E9004B;
}
.name {
	display: inline-flex;
	margin-right: auto;
}
h2 {
	margin: 0;
	padding: .5em;
	color: black;
}
nav {
	margin-right: 0px;
	justify-content: flex-end;
	display: inline-flex;
}
nav > a {
	padding: 1rem;
}
nav > a:hover {
	background-color: #FC3B79;
}

.content {
	height: auto;
	padding: 1em;
	line-height: 1.4;
	background-color: #f4d142;
}

footer {
	display: flex;
	justify-content: center;
	padding: 1em;
	background-color: #13E75B;
}
